/*
 *@name default.css
 *@author <a href="mailto:leiman0311@gmail.com">Lei Ma</a>
 *@description default css
 *@time  Aug 2, 2012
 */

/*+++++++++++++++++声明 Start++++++++++++++
 *|                                       |
 *|  以下Beiyuu css块继承自 beiyuu.com    |
 *|                                       |
 *+++++++++++++++++声明 End++++++++++++++++
 */
/*===========Beiyuu Start===============*/
/* 重置浏览器CSS */
/* 防止用户自定义背景颜色对网页的影响 */
html{color:#000;background:#f8f8f8;}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
  /* 要注意表单元素并不继续父级 font 的问题 */
body,button,input,select,textarea{font-size:12px/1.5;}
input,select,textarea{font-size:100%;}
  /* 去掉各Table  cell 的边距并让其边重合 */
table{border-collapse:collapse;border-spacing:0;}
  /* IE bug fixed: th 不继承 text-align*/
th{text-align:inherit;}
/* 去除默认边框 */
fieldset,img,a img{border:0;}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe{display:block;}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym{border:0;font-variant:normal;}
/* 一致的 del 样式 */
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
  /* 去掉列表前的标识, li 会继承 */
ol,ul {list-style:none;}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th{text-align:left;}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
q:before,q:after {content:'';}
/* 统一上标和下标 */
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
/* 清理浮动 */
.clearfix::after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1; /* for IE6 IE7 */}
/* 隐藏, 通常用来与 JS 配合 */
body .hide{display:none;}
/* 设置内联, 减少浮动带来的bug */
.left,.right{display:inline;}
.left{float:left;}
.right{float:right;}
.none{display: none;}
/*===========Beiyuu End===============*/
::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .5);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 1px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 0px;
}

body::-webkit-scrollbar-track-piece {
	background-clip: padding-box;
	background-color: whiteSmoke;
	border: solid white;
	border-width: 0 0 0 0px;
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14),inset -1px 0 0 rgba(0, 0, 0, .07);
}

body::-webkit-scrollbar-corner {
	background-clip: padding-box;
	background-color: whiteSmoke;
	border: solid white;
	border-width: 3px 0 0 3px;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14);
}
::-webkit-scrollbar-corner {
	background: transparent;
}
/*=================common elements================*/
body {font: 14px/1.5 verdana, \5fae\8f6f\96c5\9ed1,\5b8b\4f53, \9ED1\4F53, sans-serif;position:relative;}/* 英文字体 verdana，中文微软雅黑，宋体和黑体。*/
a {color:#4183C4;text-decoration:none;outline:none;}
a:hover {text-decoration:underline}
h1,h1 a {font-size:28px;font-weight:bold;margin-bottom:30px;color:#000}
h1 a:hover {text-decoration:none;}
h2 {font-size:22px;font-weight:bold;margin-bottom:13px;}
h3 {font-size:18px;font-weight:bold;margin-bottom:10px;}
h4,h5,h6 {font-weight:bold;margin-bottom:10px;}
p {margin-bottom:20px;line-height:25px;}
code {background:#eee;border:1px solid #ccc;padding:0 5px;font-family:"Courier";line-height:14px;font-size:14px;}
pre {background-color:#272822;padding:15px;overflow:auto;margin-bottom:20px;font-size:14px;border: 1px solid #eee;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;color:#b9bdb6}
pre code{background-color:transparent;border:none;padding:0;}
pre ol{margin-left:25px;list-style-type:decimal;}

/*================common classes=================*/
.head-cnt,.banner-cnt,.content-cnt,.footer-cnt,.banner-bottom-cnt{
	margin:0 auto;
	width:980px;
	height:auto;
	position:relative; 
}
/*==========share========================*/
div.share{
	padding: 5px 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 1px rgba(225, 227, 230, .2),0px 0px 1px 3px rgba(240, 241, 245, 0.3);
	margin-bottom: 20px;
	margin-top:20px;
	background:#ededed;
	background: -webkit-linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
	background:-moz-linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
	background: -o-linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
	background: -ms-linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
	background: linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
}
.tencent-ico, .sina-ico, .twitter-ico, .google-ico,.github-ico {
	background-image: url("/images/icon.gif");
	cursor: pointer;
	float: left;
	height: 16px;
	margin: 0 5px 0 6px;
	width: 16px;
}
.share-plain-text{
	float:left;
	font-size:12px;
	line-height: 16px;
}
.github-ico{
	background-position:-23px -28px;
}
.tencent-ico{
	background-position:-80px -28px;
}
.sina-ico{
	background-position:-4px -28px;
}
.twitter-ico{
	background-position:-42px -28px;
}
.google-ico{
	background-position:-61px -28px;
}
.github-ico:hover{
	background-position:-23px -4px;
}
.tencent-ico:hover{
	background-position:-80px -4px;
}
.sina-ico:hover{
	background-position:-4px -4px;
}
.twitter-ico:hover{
	background-position:-42px -4px;
}
.google-ico:hover{
	background-position:-61px -4px;
}
#pay-attention-to-me  a span{
	display:none;
}
#pay-attention-to-me span.left{
	font-size:12px;
	line-height: 16px;
}
/*=================header====================*/
#header{
	position:relative;
	background-color:#2e2e2e;
	/*background:url(/images/header.png) repeat-x scroll 0 0 transparent;*/
	background: -moz-linear-gradient(-90deg, #2e2e2e 0%, #2e2e2e 75px, #191919 100%);
	background: -webkit-linear-gradient(-90deg, #2e2e2e 0%, #2e2e2e 75px, #191919 100%);
	background: -o-linear-gradient(-90deg, #2e2e2e 0%, #2e2e2e 75px, #191919 100%);
	background: -ms-linear-gradient(-90deg, #2e2e2e 0%, #2e2e2e 75px, #191919 100%);
	background: linear-gradient(-90deg, #2e2e2e 0%, #2e2e2e 75px, #191919 100%);
	/*background: linear-gradient(top, #2e2e2e 85%,#191919 100%);
	background:-moz-linear-gradient(top, #2e2e2e 85%, #191919 100%);*/
	/*background:-webkit-gradient(linear, left top, left bottom, color-stop(85%,#2e2e2e), color-stop(100%,#191919));*/
	border-bottom:1px solid #000;
	height:88px;
}

#logo-bg{
	position:absolute;
	left:0;
	top:0;
	width:330px;
	height:88px;
	
}

#logo-bg span{
	display:block;
	width:330px;
	margin:0;
	padding:0;
}

#logo-bg-top{
	height:76px;
	background: -moz-radial-gradient(center bottom,ellipse cover, rgba(83,83,83,0.8) 0%,rgba(46,46,46,0.8) 60%,rgba(46,46,46,0.5) 100%);
	background: -webkit-radial-gradient(center bottom,ellipse cover, rgba(83,83,83,0.8) 0%,rgba(46,46,46,0.8) 60%,rgba(46,46,46,0.5) 100%);
	background: -o-radial-gradient(center bottom,ellipse cover, rgba(83,83,83,0.8) 0%,rgba(46,46,46,0.8) 60%,rgba(46,46,46,0.5) 100%);
	background: -ms-radial-gradient(center bottom,ellipse cover, rgba(83,83,83,0.8) 0%,rgba(46,46,46,0.8) 60%,rgba(46,46,46,0.5) 100%);
	background: radial-gradient(center bottom,ellipse cover, rgba(83,83,83,0.8) 0%,rgba(46,46,46,0.8) 60%,rgba(46,46,46,0.5) 100%);
}

#logo-bg-bottom{
	height:12px;
	background: -moz-radial-gradient(center top,ellipse, rgba(83,83,83,0.8) 0%,rgba(46,46,46,0.3) 70%,rgba(46,46,46,0) 100%);
	background: -webkit-radial-gradient(center top,ellipse, rgba(83,83,83,0.8) 0%,rgba(46,46,46,0.3) 70%,rgba(46,46,46,0) 100%);
	background: -o-radial-gradient(center top,ellipse, rgba(83,83,83,0.8) 0%,rgba(46,46,46,0.3) 70%,rgba(46,46,46,0) 100%);
	background: -ms-radial-gradient(center top,ellipse, rgba(83,83,83,0.8) 0%,rgba(46,46,46,0.3) 70%,rgba(46,46,46,0) 100%);
	background: radial-gradient(center top,ellipse, rgba(83,83,83,0.8) 0%,rgba(46,46,46,0.3) 70%,rgba(46,46,46,0) 100%);
}

#caption{
	position:absolute;
	left:0;
	top:24px;
	z-index:12;
}

#caption h1,#caption h2{
	display:inline-block;
	margin:0;
	padding:0;
	font-family:Arial, Verdana, Helvetica, sans-serif;
}

#caption h1,#caption h1 a{
	font-size:28px;
	text-shadow:0px 0px 1px white,2px 2px 5px rgba(0, 0, 0, 0.5);
	color:#fafafa;
}

#caption h2{
	font-size:12px;
	text-shadow:0px 0px 1px rgba(255,255,255,0.9),2px 2px 5px rgba(0, 0, 0, 0.5);
	color:#fafafa;
	padding-left:5px;
}

#loading-bar{
	/*display:none;*/
	height:4px;
	background-color:#cdcdcd;
	width:100%;
}

#loading-bar div{
	height:4px;
    width:0;
    background-color:red;
}

#top-nav{
	height:45px;
	width:100%;
	background-color:#ededed;
	background: -moz-linear-gradient(-90deg, #F3F3F3 0%, #ededed 50%, #f3f3f3 100%);
	background: -webkit-linear-gradient(-90deg, #F3F3F3 0%, #ededed 50%, #f3f3f3 100%);
	/*background: -webkit-linear-gradient(-90deg, #e1e1e1 0%, #dedede 50%, #dcdcdc 100%);*/
	/*background: -o-linear-gradient(-90deg, #e1e1e1 0%, #dedede 50%, #dcdcdc 100%);
	background: -ms-linear-gradient(-90deg, #e1e1e1 0%, #dedede 50%, #dcdcdc 100%);
	background: linear-gradient(-90deg, #e1e1e1 0%, #dedede 50%, #dcdcdc 100%);*/
	background: -o-linear-gradient(-90deg, #F3F3F3 0%, #ededed 50%, #f3f3f3 100%);
	background: -ms-linear-gradient(-90deg, #F3F3F3 0%, #ededed 50%, #f3f3f3 100%);
	background: linear-gradient(-90deg, #F3F3F3 0%, #ededed 50%, #f3f3f3 100%);
	border-bottom:1px solid #D4D4D4;
	border-top:1px solid #D4D4D4;
}

#top-nav ul{
	margin-top: 9px;
}

#top-nav ul li{
	float: left;
	margin-right:10px;
}
#top-nav ul li:last-child{
	margin-right:0px;
}
#top-nav ul li a{
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
    display: block;
    padding: 0 16px;
    font-size: 14px;
    /*font-family: "Times New Roman",Times,serif;*/
    font-weight: 500;
    line-height: 26px;
    color: #f8f8f8;
    background: #2e2e2e;
    background: -moz-linear-gradient(-90deg, #2e2e2e 0%, #282828 60%, #191919 100%);
    background: -webkit-linear-gradient(-90deg, #2e2e2e 0%, #282828 60%, #191919 100%);
    background: -ms-linear-gradient(-90deg, #2e2e2e 0%, #282828 60%, #191919 100%);
    background: linear-gradient(-90deg, #2e2e2e 0%, #282828 60%, #191919 100%);
    border-radius: 13px;
    text-shadow:-1px -1px 2px rgba(0,0,0,0.9);
    /*text-shadow:0px 0px 10px rgba(255,255,255,0.9),2px 2px 5px rgba(0, 0, 0, 0.5);*/
    /*border-top: 1px solid #bc68a8;
    border-left: 1px solid #c478b2;
    border-right: 1px solid #b5599f;*/
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
	-o-box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
	box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
}

#top-nav ul li a.current{
	display: block;
    padding: 0 16px;
    font-size: 14px;
    /*font-family: "Times New Roman",Times,serif;*/
    font-weight: 500;
    line-height: 26px;
    color: #f8f8f8;
    background: #2e2e2e;
    background: -moz-linear-gradient(-90deg, #2e2e2e 0%, #282828 60%, #191919 100%);
    background: -webkit-linear-gradient(-90deg, #2e2e2e 0%, #282828 60%, #191919 100%);
    background: -ms-linear-gradient(-90deg, #2e2e2e 0%, #282828 60%, #191919 100%);
    background: linear-gradient(-90deg, #2e2e2e 0%, #282828 60%, #191919 100%);
    border-radius: 13px;
    /*border-top: 1px solid #bc68a8;
    border-left: 1px solid #c478b2;
    border-right: 1px solid #b5599f;*/
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.5),0px 0px 12px rgba(255, 255, 255, 0.8) inset,0px 0px 1px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.5),0px 0px 12px rgba(255, 255, 255, 0.8) inset,0px 0px 1px 4px rgba(0, 0, 0, 0.5);
 	-o-box-shadow: 0px 0px 0px rgba(0,0,0,0.5),0px 0px 12px rgba(255, 255, 255, 0.8) inset,0px 0px 1px 4px rgba(0, 0, 0, 0.5);
 	box-shadow: 0px 0px 0px rgba(0,0,0,0.5),0px 0px 12px rgba(255, 255, 255, 0.8) inset,0px 0px 1px 4px rgba(0, 0, 0, 0.5);
}

#top-nav ul li a:hover{
	text-shadow:0px 0px 10px rgba(255,255,255,0.9),2px 2px 5px rgba(0, 0, 0, 0.5);
	
	text-decoration: none;
	/*-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.5),0px 0px 12px rgba(255, 255, 255, 0.8) inset,0px 0px 1px 4px rgba(0, 0, 0, 0.5);*/
	/*-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.5),0px 0px 12px rgba(255, 255, 255, 0.8) inset,0px 0px 1px 4px rgba(0, 0, 0, 0.5);*/
 	/*-o-box-shadow: 0px 0px 0px rgba(0,0,0,0.5),0px 0px 12px rgba(255, 255, 255, 0.8) inset,0px 0px 1px 4px rgba(0, 0, 0, 0.5);*/
 	/*box-shadow: 0px 0px 0px rgba(0,0,0,0.5),0px 0px 12px rgba(255, 255, 255, 0.8) inset,0px 0px 1px 4px rgba(0, 0, 0, 0.5);*/
}
#html5-logo{
	position: absolute;
	right: 0px;
	top: 36px;
	display: block;
}
#html5-logo img{
	display:block;
	height: 30px;
	width: 84px;
}
/*==================banner====================*/
#banner{
	/*min-height:200px;*/
	background:#ededed;
	background: -moz-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: -webkit-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: -o-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: -ms-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
}
#banner-bottom{
	min-height:200px;
	background:#ededed;
	background: -moz-linear-gradient(90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: -webkit-linear-gradient(90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: -o-linear-gradient(90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: -ms-linear-gradient(90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: linear-gradient(90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
}
#banner-bottom p{
	font-size: 100px;
	line-height: normal;
	font-weight: bold;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	color: #2E2E2E;
}
#slide1{
	background: -webkit-linear-gradient(-90deg, #F9DA43 0%, #F3C515 96%, #E3B121 100%);
}
/*==============3d-tags=======================*/
#threeDTags{
	z-index:0;
	margin: 0px auto 0;
	/*border: 1px solid #CDCDCD;*/
	position: relative;
	width: 270px;
	height: 270px;
	border-radius: 135px;
	background:-webkit-radial-gradient(50% 50%,circle,rgba(250, 221, 218, 0.1) 0%, rgba(255, 255, 255, 1) 30%,rgba(252, 234, 234, 1) 36%);
	background:-moz-radial-gradient(50% 50%,circle,rgba(250, 221, 218, 0.1) 0%, rgba(255, 255, 255, 1) 30%,rgba(252, 234, 234, 1) 36%);
	background:-o-radial-gradient(50% 50%,circle,rgba(250, 221, 218, 0.1) 0%, rgba(255, 255, 255, 1) 30%,rgba(252, 234, 234, 1) 36%);
	background:-ms-radial-gradient(50% 50%,circle,rgba(250, 221, 218, 0.1) 0%, rgba(255, 255, 255, 1) 30%,rgba(252, 234, 234, 1) 36%);
	background:radial-gradient(50% 50%,circle,rgba(250, 221, 218, 0.1) 0%, rgba(255, 255, 255, 1) 30%,rgba(252, 234, 234, 1) 36%);
	/*-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .1), inset 0 0px 149px 0px #EDEDED, inset 0 -1px 0 rgba(0, 0, 0, 0.1);*/
}
#threeDTags::after{
	z-index:-1;
	position: absolute;
	content: ' ';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: -webkit-radial-gradient(50% 50%,circle, rgba(255, 255, 255, 0.1) 45%,#F8F8F8 70%);
	background: -moz-radial-gradient(50% 50%,circle, rgba(255, 255, 255, 0.1) 45%,#F8F8F8 70%);
	background: -o-radial-gradient(50% 50%,circle, rgba(255, 255, 255, 0.1) 45%,#F8F8F8 70%);
	background: -ms-radial-gradient(50% 50%,circle, rgba(255, 255, 255, 0.1) 45%,#F8F8F8 70%);
	background: radial-gradient(50% 50%,circle, rgba(255, 255, 255, 0.1) 45%,#F8F8F8 70%);
}
#threeDTags a {
	position:absolute; 
	top:0px; 
	left:0px; 
	font-family: Microsoft YaHei; 
	color:#000; 
	font-weight:bold; 
	text-decoration:none; 
	/*background:#fff;*/
	padding:0px 2px; 
}
#threeDTags a:hover { 
	background: rgba(0,0,0,0.2);
	border:1px solid;
	text-shadow:-1px -1px 1px rgba(0,0,0,0.5);
}
/*==================main content==============*/
#main{
	/*min-height:500px;*/
}
/*================home========================*/
#latestPosts{
	padding:0px 0px 10px 0px;
}
#home-left{
	width: 660px;
	padding: 10px 0px 0px 10px;
}
#home-right{
	width: 280px;
	padding: 10px 10px 10px 20px;
}
#author-info{
	
}
#about-some{
	padding:10px;
	position: relative;
}
#about-some p:first-child{
	margin-bottom: 0px;
}
#about-some p{
	color:#313131;
	margin-bottom: 10px;
	/*margin-bottom: 0px;*/
	/*text-align: left;*/
	white-space: normal;
	word-wrap: break-word;
}
.avatar{
	float:left;
	display: inline;
	margin: 10px 10px 10px 0px;
	/*background: url(../images/avatar.png) no-repeat scroll 0 0 transparent;*/
	border-radius: 5px;
	box-shadow: 0px 0px 0px 1px white,0px 0px 1px 3px rgba(0, 0, 0, 0.1);
	border: 1px dashed rgba(65, 131, 196, .5);
}
/*=================articles list==============*/
#articles-list{
	padding:10px 0px;
	position:relative;
}

#articles-list-head{
	/*height: 30px;
	//border: 1px solid black;
	margin-top: 10px;
	background: -webkit-linear-gradient(-90deg, #2e2e2e 0%, #2e2e2e 75px, #191919 100%);
	border-radius: 5px;
	box-shadow:0px 0px 30px 13px rgba(0, 0, 0, 0.8) inset,0px 0px 1px 2px rgba(0, 0, 0, 0.8);
	padding: 0px 10px;*/
	width:290px;
	padding:10px;
}

#articles-list-head ul li{
	margin-top: 3px;
}
#articles-list-head ul li:first-child{
	margin-top: 0px;
}
#articles-list-head ul li a{
	display:block;
	/*height: 30px;*/
	/*border-radius: 5px;*/
	/*box-shadow:0px 0px 30px 13px rgba(0, 0, 0, 0.8) inset;*/
	padding: 2px 10px;
	/*background-color:#313131;
	color:rgba(255,255,255,0.8);*/
}
#articles-list-head ul li a.pointer{
	cursor: pointer;
}
#articles-list-head ul li a:hover{
	text-decoration:none;
	text-shadow:0px 0px 3px rgba(0,0,0,0.3);
	/*border-right:4px solid red;*/
}

#articles-list-head h4{
	margin-bottom: 0;
	padding: 6px 0px;
	color:rgba(255,255,255,0.8);
}

#articles-list-body{
	width: 660px;
	padding: 0px 0px 0px 10px;
}
.per-year-articles article,#latestPosts article{
	padding:20px 0px 5px;
	border-bottom:1px solid transparent;
}

.article-head div.clearfix,.article-title div.clearfix{
	/*background: rgba(0, 0, 0, 0.1);*/
	padding: 0px 10px 0px 0px;
	border-radius: 5px 10px 10px 5px;
	background:#ededed;
	background: -webkit-linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
	background: -moz-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: -o-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: -ms-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
}
.per-year-articles article:hover,#latestPosts article:hover{
	border-bottom:1px dashed rgba(65, 131, 196, .5);
}
.article-head h3{
	margin-bottom:3px;
	color:#313131;
	/*border-bottom: 1px solid #2E2E2E;*/
}
.article-head h3 a{
	color:#313131;
}
.article-head h3 a:hover{
	text-decoration:none;
	color:#808080;
}
.article-body{
	padding: 8px 0px;
    /*font-style: italic;*/
    color: #888;
    /*border: 1px solid #F0F0F0;*/
}
.article-body p:last-child{
	margin-bottom: 0;
}
/*=========={{ per_year_articles_id }}========*/
#per-year-articles-2000{
	display:none;
}
/*================article-main-content========*/
.article-main-content{
	width: 660px;
	margin-right: 290px;
	padding: 10px 20px 10px 10px;
}
.article-main-content h1,.article-main-content h2,.article-main-content h3,.article-main-content h4,.article-main-content h5,.article-main-content h6{
	color:#313131;
}
.article-main-content h1{
	margin-bottom:3px;
}
.article-main-content .description {
    padding: 8px 12px;
    font-style: italic;
    color: #888;
    /*border: 1px solid #F0F0F0;*/
}
.article-main-content h1,.article-main-content h1 a{
	font-size: 18px;
	color:#313131;
}

.article-main-content h1 a:hover{
	text-decoration: none;
	color:#808080;
}
.article-main-content h2{
	font-size: 18px;
	border-bottom:1px dashed #808080;
}
.article-main-content h3{
	font-size: 16px;
	border-bottom:1px dotted #808080;
}
.article-div-content{
	overflow: hidden;
}
.article-div-content ul{
	list-style-type: disc;
	list-style-position: inside;
}
.article-main-content h4,.article-main-content h5,.article-main-content h6{

}
.article-div-content img{
	border-radius:5px;
	padding: 3px 3px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 4px #d0d0d0;
}
#relatedArticles,#recentPosts{
	float:left;
	width:320px;
}
#relatedArticles{
	padding:10px 10px 10px 0px;
}
#recentPosts{
	padding:10px 0px 10px 10px;
}
#recentPosts ul li a,#relatedArticles ul li a{
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
/*==article-main-content ==> 目录导航=========*/
#menuIndex {width:270px;position:absolute;top:0;right:0;padding:10px;}
#menuIndex a {display:block}
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;}
#menuIndex ul li.on{background-color:#eee}
#menuIndex li.h1{font-size:14px;font-weight:normal;}
#menuIndex li.h3{padding-left:15px;}
/*==================tags======================*/

.article-tags{
	position:relative;
}

.article-tags ul li{
	display:inline-block;
}
.article-tags ul li a{
	display:inline-block;
  	/*color: #4183C4;*/
  	color:#4d4d4d;
	/*text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);*/
	white-space: nowrap;
}
.article-tags ul li:last-child span{
	color:transparent;
}

.article-author{
	margin-left:20px;
}

.article-author,.article-post-time{
	/*color:#4183C4;*/
	color:#4d4d4d;
}
.pure-css-tag-behind{
	/*color:#4183C4;*/
	margin-left: 3px;
	color:#4d4d4d;
}
.pure-css-tag{
	float:left;
	width: 10px;
	height: 4px;
	/*border: 2px solid #4183C4;*/
	border:2px solid #4d4d4d;
	border-radius:2px;
	margin-top: 6px;
	margin-right:2px;
	/*box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3) inset;*/
	transform:rotate(135deg);
	-moz-transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	-o-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
}

.pure-css-tag::before{
	content:'';
	position:relative;
	top: -2px;
	left: -9px;
	float:left;
	width:0;
	height:0;
	border: 4px solid transparent;
	/*border-right-color:#4183C4;*/
	border-right-color:#4d4d4d;
}

.pure-css-tag::after{
	content:'';
	position:relative;
	top: -7px;
	left: -3px;
	float:left;
	width: 2px;
	height: 2px;
	background: #fff;
	border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-ms-border-radius:2px;
}
/*========================tags.html====================*/
#nav-tags-html{
	padding:10px 0px;
}
#all-tags{
	width:100%;
	padding:10px;
}
#all-articles{

	width:0px;
	padding:0px 0px 0px 10px;
}
.articles-for-the-tag article{
	padding:20px 0px 5px;
	border-bottom:1px dashed transparent;
}
.articles-for-the-tag article:hover{
	border-bottom:1px dashed rgba(65, 131, 196, .5);
}
h3.tag-name,h3.which-year{
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 2px 0px 2px 10px;
	background:#ededed;
    background: -webkit-linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
    background: -moz-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: -o-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: -ms-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
    color:#4183C4;
    border-radius: 10px 5px 20px 5px;
    border: 1px dashed rgba(65, 131, 196, .5);
	box-shadow: 0px 0px 0px 1px white,0px 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0px 0px 0px 1px white,0px 0px 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 0px 1px white,0px 0px 1px 1px rgba(0, 0, 0, 0.5);
	-o-box-shadow:0px 0px 0px 1px white,0px 0px 1px 1px rgba(0, 0, 0, 0.5);
}
h3.right-nav{
	display:block;
	color: #FFF;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	white-space: nowrap;
	border-radius: 10px 5px 20px 5px;
	padding: 2px 0px 2px 10px;
	box-shadow: 0px 0px 0px 1px rgba(65, 131, 196, .2),0px 0px 1px 3px rgba(136, 143, 192, 0.3);
	margin-top: 10px;
	background:rgba(65, 131, 196, .8);
	background: -webkit-linear-gradient(-90deg, rgba(65, 131, 196, .2) 0%, rgba(65, 131, 196, .9)  100%);
	background: -moz-linear-gradient(-90deg, rgba(65, 131, 196, .2) 0%, rgba(65, 131, 196, .9)  100%);
	background: -o-linear-gradient(-90deg, rgba(65, 131, 196, .2) 0%, rgba(65, 131, 196, .9)  100%);
	background: -ms-linear-gradient(-90deg, rgba(65, 131, 196, .2) 0%, rgba(65, 131, 196, .9)  100%);
	background: linear-gradient(-90deg, rgba(65, 131, 196, .2) 0%, rgba(65, 131, 196, .9)  100%);
}
ul.tag-box li{
	float:left;
	display:inline;
}

ul.tag-box li a{
	display:block;
	font-size: 13px;
	color: #f6f6f6;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	white-space: nowrap;
	border-radius: 3px;
	box-shadow: 1px 1px 6px 1px #2E2E2E;
	margin: 5px 5px;
	padding: 3px 12px;
	background:#2e2e2e;
	background: -webkit-linear-gradient(-90deg, #2E2E2E 0%, #282828 60%, #191919 100%);
	background: -moz-linear-gradient(-90deg, #2E2E2E 0%, #282828 60%, #191919 100%);
	background: -o-linear-gradient(-90deg, #2E2E2E 0%, #282828 60%, #191919 100%);
	background: -ms-linear-gradient(-90deg, #2E2E2E 0%, #282828 60%, #191919 100%);
	background: linear-gradient(-90deg, #2E2E2E 0%, #282828 60%, #191919 100%);
}	
ul.tag-box li a:hover{

}
/*==================nav-demos-html============*/
#demos-list{padding:5px;}
#demos-list article{
	position:relative;
	padding: 1px;
	border-radius: 5px;
	margin-bottom: 10px;
	/*border: 1px solid #ccc;*/
	background-color: #fff;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.waterFallColumns{
	display: inline-block;
	float: left;
	vertical-align: top;
	margin:5px;
}
div.demo-time{
	font-size:12px;
	display:none;
/*	position:absolute;*/
	color:#808080;
	/*bottom:0;*/
	/*margin-left:-1px;*/
	/*border-radius:5px;*/
	/*width:100%;*/
	/*background-color:rgba(0,0,0,0.1);*/
}
#demos-list article:hover div.demo-time{
	/*display:block;*/
}
#demo-index-0 h3{
	font-size:14px;
	margin-bottom: 0px;
	padding: 2px 0px 2px 10px;
	background:#ededed;
    background: -webkit-linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
    background: -moz-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: -o-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: -ms-linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
	background: linear-gradient(-90deg, #f6f6f6 0%, #ededed 96%, #ddd 100%);
    color:#313131;
    border: 1px dashed rgba(65,131,196,.5);
    border-radius:5px;
}
div.demo-time p{
	margin-bottom:0px;
	padding:2px 5px;
}
div.demo-title{
	padding: 5px 10px;
	border: 1px dashed rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background:#ededed;
	cursor: pointer;
	background: -webkit-linear-gradient(-90deg, #F6F6F6 0%, #EDEDED  100%);
	background: -moz-linear-gradient(-90deg, #f6f6f6 0%, #ededed  100%);
	background: -o-linear-gradient(-90deg, #f6f6f6 0%, #ededed  100%);
	background: -ms-linear-gradient(-90deg, #f6f6f6 0%, #ededed  100%);
	background: linear-gradient(-90deg, #f6f6f6 0%, #ededed  100%);
}
div.demo-title p{
	margin-bottom: 0px;
	font-size:12px;
	font-style: italic;
	color: #888;
	padding:5px 10px;
}

#demos-list article h3{
	margin-bottom:0px;
}
#demos-list article h3 a{
	display:block;
	font-size:14px;
	/*color:#808080;*/
	color:#313131;
}
#demos-list article h3 a.hoverColor{
	color:#808080;
}
#demos-list article h3 a:hover{
	text-decoration:none;
	color:#808080;
	/*color:#313131;*/
}
/*=======================about================*/
#about-timeline{
	padding:10px 5px;
}
#timeline-embed{
	margin:0px !important;
	border:0px solid #CCC !important;
	padding:0px !important;
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	border-radius:0px !important;
	-moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
	-webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
	box-shadow:0px 0px 0px rgba(0, 0, 0, 0.25) !important;
}
#timeline{
	height:500px;
}
/*==================footer====================*/
footer{
	position:relative;
	background-color:#2e2e2e;
	background: -moz-linear-gradient(90deg, #2e2e2e 0%, #2e2e2e 75%, #191919 100%);
	background: -webkit-linear-gradient(90deg, #2e2e2e 0%, #2e2e2e 75%, #191919 100%);
	background: -o-linear-gradient(90deg, #2e2e2e 0%, #2e2e2e 75%, #191919 100%);
	background: -ms-linear-gradient(90deg, #2e2e2e 0%, #2e2e2e 75%, #191919 100%);
	background: linear-gradient(90deg, #2e2e2e 0%, #2e2e2e 75%, #191919 100%);
	border-bottom:1px solid #000;
	height:56px;
}

.go-top-icon{
	margin-top:-16px;
	width:0;
	height:0;
	float:left;
	border-style:solid;
	border-color:transparent;
	border-bottom-color:rgba(0,0,0,0.3);
	border-width:16px;
}

.go-top-icon::before{
	position:relative;
	content:'';
	top:16px;
	left:-8px;
	float:left;
	width:16px;
	height:14px;
	background:rgba(0,0,0,0.3);
	border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
	-ms-border-radius:0 0 2px 2px;
}

div.go-top{
	position:fixed;
	height:32px;
	width: 32px;
	right:68px;
	bottom: 100px;
}

div.go-top a{
	display:none;
	width:32px;
	height:32px;
	padding:5px;
	border-radius:5px;
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3),0px 0px 34px 2px rgba(0, 0, 0, 0.3) inset;
}
div.go-top a:hover{
	box-shadow: 0px 0px 2px 1px #555,0px 0px 34px 2px #555 inset;
}
div.go-top a:hover span{
	border-bottom-color:#555;
}
div.go-top a:hover span::before{
	background:#555;
}
.footer-cnt p{
	margin:0px;
	/*color:#969696;*/
	color:#fafafa;
	line-height: 56px;
}

#forkme{
	display:block;
	position:fixed;
	top:0;
	right:0;
	width:124px;
	height:28px;
	background-color:#333;
	color:#fff;
	font:bold 14px/28px "Times New Roman",Times,serif;;
	text-align:center;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-moz-transform:translate(32px,18px) rotate(45deg);
	-webkit-transform:translate(32px,18px) rotate(45deg);
	-o-transform:translate(32px,18px) rotate(45deg);
	-ms-transform:translate(32px,18px) rotate(45deg);
	transform:translate(32px,18px) rotate(45deg);
	-moz-box-shadow:0 0 5px rgba(0,0,0,.5),inset 0 0 2px #fff;
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.5),inset 0 0 2px #fff;
	box-shadow:0 0 5px rgba(0,0,0,.5),inset 0 0 2px #fff;
	text-shadow:0px 0px 1px rgba(255,255,255,0.9),2px 2px 5px rgba(0, 0, 0, 0.5);
}
#forkme:hover{
	background-color:#900;
	text-shadow:-1px -1px 2px rgba(0,0,0,.5);
	text-decoration:none;
}

footer .footer-cnt{
	font-size: 13px;
}

/*===================about me=============*/
.cloud-icon-wrap{
	position: relative;
	padding: 100px 81px 20px 81px;
	border: 1px solid;
	border-color: #CCC #999 #999 #CCC;
	background-color: white;
}
.cloud-icon{
	width: 266px;
	height: 115px;
	float:left;
	background:#555;
	border-radius: 60px;
	-moz-border-radius:60px;
	-webkit-border-radius: 60px;
	-ms-border-radius:60px;
}

.cloud-icon::before{
	position:relative;
	content:'';
	left: 82px;
	top: -82px;
	width: 130px;
	height: 130px;
	float:left;
	background:#555;
	border-radius:65px;
	-moz-border-radius:65px;
	-webkit-border-radius: 65px;
	-ms-border-radius:65px;
}

.cloud-icon::after{
	position:relative;
	content:'';
	left: -98px;
	top: -38px;
	width: 70px;
	height: 70px;
	float:left;
	background: #555;
	border-radius:35px;
	-moz-border-radius:35px;
	-webkit-border-radius: 35px;
	-ms-border-radius:35px;
}

.box-shadow{
	position: relative;
	z-index: 1;
	background: white;
}
.box-shadow::after,.box-shadow::before{
	z-index:-1;
	position:absolute;
	content:"";
	bottom:15px;
	left:10px;
	width:50%;
	top:80%;
	max-width:300px;
	background:#999999;
	-webkit-box-shadow:0 15px 10px #999999;
	-moz-box-shadow:0 15px 10px #999999;
	box-shadow:0 15px 10px #999999;
	-webkit-transform:rotate(-2deg);
	-moz-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
	transform:rotate(-2deg);
}
.box-shadow::after{
	-webkit-transform:rotate(2deg);
	-moz-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	-ms-transform:rotate(2deg);
	transform:rotate(2deg);
	right:10px;
	left:auto;
}

div.footer-cnt a{
	color: #FAFAFA;
	/*border: 1px solid rgba(255, 255, 255, .3);*/
	border:1px solid transparent;
	border-radius: 5px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	padding: 1px 3px;
	/*background: rgba(255, 255, 255, .2);*/
}
div.footer-cnt a:hover{
	text-decoration: none;
	/*background:#313131;*/
	border: 1px dashed rgba(255,255,255,.8);
}
#the-404-page span{
	font-size: 180px;
	font-weight: bold;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	color: #2E2E2E;
}
#the-404-page p{
	padding:0px 20px;
}
#links{
	padding:10px;
}
#links h2{
	font-size: 15px;
	color: #2E2E2E;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 1px rgba(225, 227, 230, .2),0px 0px 1px 3px rgba(240, 241, 245, 0.3);
	margin-bottom: 10px;
	margin-top:10px;
	background:#ededed;
	background: -webkit-linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
	background: -moz-linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
	background: -o-linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
	background: -ms-linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
	background: linear-gradient(-90deg, #F6F6F6 0%, #EDEDED 96%, #DDD 100%);
}
#links ul{
	list-style: inside circle;
}