
/*  plugin  */

.xx-slides{
	margin:0;
	padding:0;
	list-style: none;
	position: relative;
	overflow: hidden;
}

.xx-slides .items,.slides-content,.slides-side{
	position:absolute;
}


.slides-side{
	cursor: pointer;
	left:0;
	top:0;
}

.slides-1 .slides-side{
	display:none;
}

.slides-hide{
	display:none;
}

.dec-con{
/*	border:1px solid #ddd;
	border-top-color:transparent;*/
	padding:10px 0;
	box-shadow:0px 0px 1px 1px rgba(0,0,0,.1);
}

.dec-con p{
	padding: 0 10px;
	color:#808080;
	margin:0;
}