/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/screen.scss */
body {
  padding-top: 100px;
}

/* line 8, ../sass/screen.scss */
.clearfix, .playground-cell, .pentagon-series .group {
  *zoom: 1;
}
/* line 12, ../sass/screen.scss */
.clearfix::before, .playground-cell::before, .pentagon-series .group::before, .clearfix::after, .playground-cell::after, .pentagon-series .group::after {
  display: table;
  line-height: 0;
  content: "";
}
/* line 18, ../sass/screen.scss */
.clearfix::after, .playground-cell::after, .pentagon-series .group::after {
  clear: both;
}

/* line 23, ../sass/screen.scss */
.playground {
  width: 90%;
  margin: 0 auto;
  padding: 10px 10px 0;
}

/* line 30, ../sass/screen.scss */
.playground-cell {
  margin-bottom: 10px;
  background-color: #ECF0F1;
}

/* line 59, ../sass/screen.scss */
.playground-demo-shadow {
  border: 1px dashed rgba(0, 0, 0, 0.3);
  float: left;
  position: relative;
}
/* line 38, ../sass/screen.scss */
.playground-demo-shadow::before, .playground-demo-shadow::after {
  position: absolute;
  content: "";
  z-index: 1;
}
/* line 44, ../sass/screen.scss */
.playground-demo-shadow::before {
  height: 100%;
  width: 0;
  border-left: 1px dashed rgba(0, 0, 0, 0.3);
  left: calc(50% - 1px / 2);
}
/* line 51, ../sass/screen.scss */
.playground-demo-shadow::after {
  height: 0;
  width: 100%;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  top: calc(50% - 1px / 2);
}

/* line 72, ../sass/screen.scss */
.demo-hexagon {
  position: relative;
  height: 8em;
  width: 8em;
  overflow: hidden;
  -webkit-transform: skewX(30deg) scaleY(0.86603);
  -moz-transform: skewX(30deg) scaleY(0.86603);
  -ms-transform: skewX(30deg) scaleY(0.86603);
  -o-transform: skewX(30deg) scaleY(0.86603);
  transform: skewX(30deg) scaleY(0.86603);
}
/* line 79, ../sass/screen.scss */
.demo-hexagon::before {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #E67E22;
  height: 100%;
  -webkit-transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) scaleX(0.86603);
  -moz-transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) scaleX(0.86603);
  -ms-transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) scaleX(0.86603);
  -o-transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) scaleX(0.86603);
  transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) scaleX(0.86603);
}

/* line 89, ../sass/screen.scss */
.demo-triangle {
  position: relative;
  height: 8em;
  width: 8em;
  overflow: hidden;
  -webkit-transform: translateY(28.86751%) rotate(60deg) skewX(30deg) scaleY(0.86603);
  -moz-transform: translateY(28.86751%) rotate(60deg) skewX(30deg) scaleY(0.86603);
  -ms-transform: translateY(28.86751%) rotate(60deg) skewX(30deg) scaleY(0.86603);
  -o-transform: translateY(28.86751%) rotate(60deg) skewX(30deg) scaleY(0.86603);
  transform: translateY(28.86751%) rotate(60deg) skewX(30deg) scaleY(0.86603);
}
/* line 96, ../sass/screen.scss */
.demo-triangle::before {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #E67E22;
  height: 100%;
  -webkit-transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) translateX(-50%);
  -moz-transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) translateX(-50%);
  -ms-transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) translateX(-50%);
  -o-transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) translateX(-50%);
  transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) translateX(-50%);
}

/* line 107, ../sass/screen.scss */
.demo-pentagon {
  position: relative;
  height: 8em;
  width: 8em;
  overflow: hidden;
  -webkit-transform: translateY(26.28656%) rotate(-36deg) skewX(18deg) scaleY(0.95106);
  -moz-transform: translateY(26.28656%) rotate(-36deg) skewX(18deg) scaleY(0.95106);
  -ms-transform: translateY(26.28656%) rotate(-36deg) skewX(18deg) scaleY(0.95106);
  -o-transform: translateY(26.28656%) rotate(-36deg) skewX(18deg) scaleY(0.95106);
  transform: translateY(26.28656%) rotate(-36deg) skewX(18deg) scaleY(0.95106);
}
/* line 115, ../sass/screen.scss */
.demo-pentagon .demo-pentagon-inner {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -moz-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -ms-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -o-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
}
/* line 125, ../sass/screen.scss */
.demo-pentagon .demo-pentagon-inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: green;
  -webkit-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  -moz-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  -ms-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  -o-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
}

/* line 137, ../sass/screen.scss */
.demo-prism .triangle {
  position: relative;
  height: 8em;
  width: 8em;
  overflow: hidden;
  -webkit-transform: rotate(60deg) skewX(30deg) scaleY(0.86603);
  -moz-transform: rotate(60deg) skewX(30deg) scaleY(0.86603);
  -ms-transform: rotate(60deg) skewX(30deg) scaleY(0.86603);
  -o-transform: rotate(60deg) skewX(30deg) scaleY(0.86603);
  transform: rotate(60deg) skewX(30deg) scaleY(0.86603);
}
/* line 144, ../sass/screen.scss */
.demo-prism .triangle::before {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #E67E22;
  height: 100%;
  -webkit-transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) translateX(-50%);
  -moz-transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) translateX(-50%);
  -ms-transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) translateX(-50%);
  -o-transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) translateX(-50%);
  transform: scaleY(1.1547) skewX(-30deg) rotate(30deg) translateX(-50%);
}
/* line 153, ../sass/screen.scss */
.demo-prism .triangle-base {
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}

/* line 161, ../sass/screen.scss */
.pentagon-series.playground-cell {
  background: none;
}
/* line 165, ../sass/screen.scss */
.pentagon-series .group {
  margin: 180px 0;
}
/* line 170, ../sass/screen.scss */
.pentagon-series .playground-demo-shadow {
  margin-left: 90px;
}
/* line 173, ../sass/screen.scss */
.pentagon-series .playground-demo-shadow:first-child {
  margin-left: 0;
}
/* line 182, ../sass/screen.scss */
.pentagon-series .demo-pentagon-1, .pentagon-series .demo-pentagon-2, .pentagon-series .demo-pentagon-3, .pentagon-series .demo-pentagon-4, .pentagon-series .demo-pentagon-5, .pentagon-series .demo-pentagon-6, .pentagon-series .demo-pentagon-7, .pentagon-series .demo-pentagon-8, .pentagon-series .demo-pentagon-9, .pentagon-series .demo-pentagon-10 {
  position: relative;
  height: 8em;
  width: 8em;
  background-color: #2ECC71;
}
/* line 189, ../sass/screen.scss */
.pentagon-series .demo-pentagon-2, .pentagon-series .demo-pentagon-3, .pentagon-series .demo-pentagon-4, .pentagon-series .demo-pentagon-5, .pentagon-series .demo-pentagon-6, .pentagon-series .demo-pentagon-7, .pentagon-series .demo-pentagon-8, .pentagon-series .demo-pentagon-9 {
  background: none;
  outline: 2px dashed #2ecc71;
  -webkit-transform: rotate(-36deg) skewX(18deg) scaleY(0.95106);
  -moz-transform: rotate(-36deg) skewX(18deg) scaleY(0.95106);
  -ms-transform: rotate(-36deg) skewX(18deg) scaleY(0.95106);
  -o-transform: rotate(-36deg) skewX(18deg) scaleY(0.95106);
  transform: rotate(-36deg) skewX(18deg) scaleY(0.95106);
}
/* line 38, ../sass/screen.scss */
.pentagon-series .demo-pentagon-2::before, .pentagon-series .demo-pentagon-3::before, .pentagon-series .demo-pentagon-4::before, .pentagon-series .demo-pentagon-5::before, .pentagon-series .demo-pentagon-6::before, .pentagon-series .demo-pentagon-7::before, .pentagon-series .demo-pentagon-8::before, .pentagon-series .demo-pentagon-9::before, .pentagon-series .demo-pentagon-2::after, .pentagon-series .demo-pentagon-3::after, .pentagon-series .demo-pentagon-4::after, .pentagon-series .demo-pentagon-5::after, .pentagon-series .demo-pentagon-6::after, .pentagon-series .demo-pentagon-7::after, .pentagon-series .demo-pentagon-8::after, .pentagon-series .demo-pentagon-9::after {
  position: absolute;
  content: "";
  z-index: 1;
}
/* line 44, ../sass/screen.scss */
.pentagon-series .demo-pentagon-2::before, .pentagon-series .demo-pentagon-3::before, .pentagon-series .demo-pentagon-4::before, .pentagon-series .demo-pentagon-5::before, .pentagon-series .demo-pentagon-6::before, .pentagon-series .demo-pentagon-7::before, .pentagon-series .demo-pentagon-8::before, .pentagon-series .demo-pentagon-9::before {
  height: 100%;
  width: 0;
  border-left: 2px dashed #2ecc71;
  left: calc(50% - 2px / 2);
}
/* line 51, ../sass/screen.scss */
.pentagon-series .demo-pentagon-2::after, .pentagon-series .demo-pentagon-3::after, .pentagon-series .demo-pentagon-4::after, .pentagon-series .demo-pentagon-5::after, .pentagon-series .demo-pentagon-6::after, .pentagon-series .demo-pentagon-7::after, .pentagon-series .demo-pentagon-8::after, .pentagon-series .demo-pentagon-9::after {
  height: 0;
  width: 100%;
  border-top: 2px dashed #2ecc71;
  top: calc(50% - 2px / 2);
}
/* line 203, ../sass/screen.scss */
.pentagon-series .demo-pentagon-3 {
  z-index: 2;
}
/* line 206, ../sass/screen.scss */
.pentagon-series .demo-pentagon-3 .demo-pentagon-3-inner {
  background-color: #f1c40f;
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 218, ../sass/screen.scss */
.pentagon-series .demo-pentagon-4 .demo-pentagon-4-inner {
  outline: 2px dashed #f1c40f;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -moz-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -ms-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -o-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) rotate(18deg) skewY(54deg) scaleX(0.58779);
  transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) rotate(18deg) skewY(54deg) scaleX(0.58779);
}
/* line 38, ../sass/screen.scss */
.pentagon-series .demo-pentagon-4 .demo-pentagon-4-inner::before, .pentagon-series .demo-pentagon-4 .demo-pentagon-4-inner::after {
  position: absolute;
  content: "";
  z-index: 1;
}
/* line 44, ../sass/screen.scss */
.pentagon-series .demo-pentagon-4 .demo-pentagon-4-inner::before {
  height: 100%;
  width: 0;
  border-left: 2px dashed #f1c40f;
  left: calc(50% - 2px / 2);
}
/* line 51, ../sass/screen.scss */
.pentagon-series .demo-pentagon-4 .demo-pentagon-4-inner::after {
  height: 0;
  width: 100%;
  border-top: 2px dashed #f1c40f;
  top: calc(50% - 2px / 2);
}
/* line 233, ../sass/screen.scss */
.pentagon-series .demo-pentagon-5 .demo-pentagon-5-inner {
  outline: 2px dashed #f1c40f;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -moz-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -ms-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -o-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
}
/* line 38, ../sass/screen.scss */
.pentagon-series .demo-pentagon-5 .demo-pentagon-5-inner::before, .pentagon-series .demo-pentagon-5 .demo-pentagon-5-inner::after {
  position: absolute;
  content: "";
  z-index: 1;
}
/* line 44, ../sass/screen.scss */
.pentagon-series .demo-pentagon-5 .demo-pentagon-5-inner::before {
  height: 100%;
  width: 0;
  border-left: 2px dashed #f1c40f;
  left: calc(50% - 2px / 2);
}
/* line 51, ../sass/screen.scss */
.pentagon-series .demo-pentagon-5 .demo-pentagon-5-inner::after {
  height: 0;
  width: 100%;
  border-top: 2px dashed #f1c40f;
  top: calc(50% - 2px / 2);
}
/* line 246, ../sass/screen.scss */
.pentagon-series .demo-pentagon-6 {
  z-index: 2;
}
/* line 249, ../sass/screen.scss */
.pentagon-series .demo-pentagon-6 .demo-pentagon-6-inner {
  z-index: 3;
  outline: 2px dashed #f1c40f;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -moz-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -ms-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -o-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
}
/* line 261, ../sass/screen.scss */
.pentagon-series .demo-pentagon-6 .demo-pentagon-6-inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #E67E22;
}
/* line 270, ../sass/screen.scss */
.pentagon-series .demo-pentagon-7 {
  z-index: 2;
}
/* line 274, ../sass/screen.scss */
.pentagon-series .demo-pentagon-7 .demo-pentagon-7-inner {
  z-index: 3;
  outline: 2px dashed #f1c40f;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -moz-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -ms-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -o-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
}
/* line 286, ../sass/screen.scss */
.pentagon-series .demo-pentagon-7 .demo-pentagon-7-inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  outline: 2px dashed #E67E22;
  -webkit-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg);
  -moz-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg);
  -ms-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg);
  -o-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg);
  transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg);
}
/* line 299, ../sass/screen.scss */
.pentagon-series .demo-pentagon-8 .demo-pentagon-8-inner {
  outline: 2px dashed #f1c40f;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -moz-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -ms-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -o-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
}
/* line 311, ../sass/screen.scss */
.pentagon-series .demo-pentagon-8 .demo-pentagon-8-inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  outline: 2px dashed #E67E22;
  -webkit-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  -moz-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  -ms-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  -o-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
}
/* line 322, ../sass/screen.scss */
.pentagon-series .demo-pentagon-9 {
  outline: none;
  overflow: hidden;
}
/* line 38, ../sass/screen.scss */
.pentagon-series .demo-pentagon-9::before, .pentagon-series .demo-pentagon-9::after {
  position: absolute;
  content: "";
  z-index: 1;
}
/* line 44, ../sass/screen.scss */
.pentagon-series .demo-pentagon-9::before {
  height: 100%;
  width: 0;
  border-left: 0px dashed transparent;
  left: calc(50% - 0px / 2);
}
/* line 51, ../sass/screen.scss */
.pentagon-series .demo-pentagon-9::after {
  height: 0;
  width: 100%;
  border-top: 0px dashed transparent;
  top: calc(50% - 0px / 2);
}
/* line 329, ../sass/screen.scss */
.pentagon-series .demo-pentagon-9 .demo-pentagon-9-inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -moz-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -ms-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -o-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
}
/* line 339, ../sass/screen.scss */
.pentagon-series .demo-pentagon-9 .demo-pentagon-9-inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #E67E22;
  -webkit-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  -moz-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  -ms-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  -o-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
}
/* line 349, ../sass/screen.scss */
.pentagon-series .demo-pentagon-10 {
  overflow: hidden;
  background: none;
  -webkit-transform: translateY(26.28656%) rotate(-36deg) skewX(18deg) scaleY(0.95106);
  -moz-transform: translateY(26.28656%) rotate(-36deg) skewX(18deg) scaleY(0.95106);
  -ms-transform: translateY(26.28656%) rotate(-36deg) skewX(18deg) scaleY(0.95106);
  -o-transform: translateY(26.28656%) rotate(-36deg) skewX(18deg) scaleY(0.95106);
  transform: translateY(26.28656%) rotate(-36deg) skewX(18deg) scaleY(0.95106);
}
/* line 356, ../sass/screen.scss */
.pentagon-series .demo-pentagon-10 .demo-pentagon-10-inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -moz-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -ms-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  -o-transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
  transform: scaleY(1.05146) skewX(-18deg) rotate(36deg) translateY(-36.32713%) rotate(18deg) skewY(54deg) scaleX(0.58779);
}
/* line 366, ../sass/screen.scss */
.pentagon-series .demo-pentagon-10 .demo-pentagon-10-inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #E67E22;
  -webkit-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  -moz-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  -ms-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  -o-transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
  transform: scaleX(1.7013) skewY(-54deg) rotate(-18deg) translateY(-13.67287%);
}
