---
layout: base
description: 菜单外框架
keywords: frame
---
<div class="wrapper">
  <div class="topbar">
    <a class="header-action burger left" id="header-action-burger">
      <i class="reorder icon"></i>
    </a>  
    <h1 class="header">
      <a href="/" class="index">{{ site.title }}</a>
    </h1>
    <!-- <form class="header-action search" target="_blank" method="get" action="http://www.google.com/search">
      <input id="search" type="text" name="q">
      <input type="submit" name="btnG" value="" class="none">
      <input type="hidden" name="oe" value="UTF-8">
      <input type="hidden" name="ie" value="UTF-8">
      <input type="hidden" name="newwindow" value="0">
      <input type="hidden" name="sitesearch" value="{{ site.url }}">
    </form> -->
    <a class="header-action search right" id="header-action-search">
      <i class="search icon"></i>
    </a>
  </div>
  <div class="main-content">
    {{ content }}
  </div>
</div>
<nav class="nav-base">
  <ul class="nav-items">
    <li class="nav-item">
      <a href="#" class="nav-link author-avatar">
        <div class="align-vertical">
          <img src="" alt="avatar" id="author-avatar"> 
          <span id="author-name">malei0311</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">item1</a>
    </li>
    <li class="nav-item">
      <a href="/archive.html" class="nav-link">archive</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">item1</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">item1</a>
    </li>
  </ul>
</nav>

<script>
  Modernizr.load([
    {
      load: '//cdn.bootcss.com/require.js/2.1.9/require.min.js',
      complete: function () {
        if ( !window.require ) {
              Modernizr.load('/scripts/lib/requirejs/require.min.js');
        }
      }
    },
    {
      load: '/scripts/webcraft.min.js'
    }
  ]);
</script>